.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.bg-header {
  /* background-color: darkmagenta; */
  background: url('./images/tileable_wood_texture.png');
}

.card-holder img {
  height: 200px;
  width: 200px;
}

.colors {
  background-color: #634643;
  color: #58F85C;
  text-shadow: 5px 5px 5px #000;
}

.colors a {
  color: #58F85C;
}

.colors-header {
  color: #634643;
}

.footer-100 {
  bottom: 0;
  height: 8vh;
  left: 0;
  width: 100%;
}

.footer-mgn {
  top: 5vh;
}

.grow { 
  transition: all .1s ease-in-out; 
}

.grow:hover { 
  transform: scale(1.05); 
}

.header-font {
  font-size: 2.5vw;
}

.head-mar-top {
  margin-top: 10vh;
}

.header-pad {
  padding: 10vh 0 10vh 0;
}

.icon-font {
  font-size: calc(10px + 14 * (100vw - 320px)/ 800);
}

.lodge {
  background: #649173; 
  background: -webkit-linear-gradient(to right, #DBD5A4, #649173); 
  background: linear-gradient(to right, #DBD5A4, #649173); 
}

.main-content {
  max-width: 70vw;
}

.nav-font {
  /* font-size: 2rem; */
  font-size: 2vw;
  /* font-size: calc(25px + (100 - 14) * ((40vw - 300px) / (1600 - 300))); */
}

.nav-font a {
  /* font-size: 2rem; */
  font-size: 2vw;
}

.nav-calc-font {
  font-size: calc(10px + 14 * (100vw - 320px)/ 800);
}

.nav-shadow {
  box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
}

.nav-width {
  min-width: 100vw;
}

.nav-height {
  height: 10vh;
}

.nav-li-width {
  min-width: 33vw;
}

.padding-main {
  padding-bottom: 5vh;
}

.pointer {
  cursor: pointer;
}

.title-line-hgt {
  line-height: 2rem;
}

.card-select:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}

.h-100vh {
  min-height: 100vh;
}

/* Media queries */
@media screen and (max-width: 768px) {

  .nav-font {
    font-size: 0.75rem;
    /* font-size: calc(25px + (100 - 14) * ((40vw - 300px) / (1600 - 300))); */
  }
  
  .nav-font a {
    font-size: 0.75rem;
  }

  .title-line-hgt {
    line-height: 1.5rem;
  }

  .header-pad {
    padding: 5vh 0 5vh 0;
  }

}

@media screen and (max-width: 450px) {
  .nav-font {
    font-size: 0.5rem;
    /* font-size: calc(25px + (100 - 14) * ((40vw - 300px) / (1600 - 300))); */
  }
  
  .nav-font a {
    font-size: 0.5rem;
  }

  .navbar li {
    width: 40%;
}

.title-line-hgt {
  line-height: 1rem;
}

}